html,
body {
    height: 100%;
}

body,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}



.sidebar .message-block {
    width: 140pt;
    word-wrap: break-word;
    background-color: rgba(215, 65, 65, 0.638);
}

.error1 {
    background-color: rgba(215, 65, 65, 0.638);
    color: rgb(0, 0, 0);
}

/* ================================================== */
/* ============= CONTENT ============================ */
/* ================================================== */

.wrapper>.content {
    /* background-color: #cff; */
    /* margin-left: 140pt; */
    overflow: auto;
    /* padding-left: 10 pt; */
}

.container {
    /* padding-left: 20px; */
    padding: auto;
}


.output {
    background-color: #6633991c;
    margin-bottom: 1rem;
    /* width: 400px; */
    width: 70%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    text-align: justify;
}

.output tbody tr:nth-of-type(odd) {
    background-color: rgb(191 196 205 / 30%)
}

/* .log_form {
    width: 70%;
} */

.form_field {
    border:1px solid rgb(72, 84, 134); 
    border-radius:5px;
    height:20px;
    width:250px;
}