{% extends 'base.html' %}

{% block title %}
<title>{{title}}</title> 
{% endblock title %} 


{% block h3-title %}
{% if questions %}
{{h3}}
{% endif %}
{% endblock h3-title %} 


{% block body %}

<div class="container">
     
    <form method="post">
        {% csrf_token %}

        {% if not questions %}
        <p>Creator hasn't added questions yet</p>
        {% endif %}

            {% for pair in questions %}
            <tr>
                <h5>{{pair.0.question}}</h5>
                {% for choice in pair.1 %}
                    <p><input name="q{{pair.0.id}}choice" type="radio" value="{{choice}}"> {{choice}}</p>
                {% endfor %}    
            </tr> 
             <hr>
            {% endfor %}

        
        <button type="submit" class="btn btn-primary"> submit </button>
    
    </form>
 
</div>

{% endblock %}