{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/ico"/>

    {% block title %}
    <title>Surveys</title> 
    {% endblock title %} 
</head>
<body>
    <div class="wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-md-center">

            <div>
                <ul class="navbar-nav">
                    {% for m in menu %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url m.url_name %}">{{m.descr}}</a>
                    </li>
                    {% endfor %}

                    {% for m in menu_param %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ m.url_name }}">{{m.descr}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class="sidebar">
        </div>

        <div class="content">
            
            <div class="jumbotron" style="padding: 2rem 3rem;">
            <h3 class="display-6">
            {% block h3-title %}
            {% endblock h3-title %} 
            </h3>
            </div>
            <div class="message-block" style="padding: 0rem 3rem;">
                {% block k %}
                {% include 'messages.html' %}
                {% endblock k %} 
            </div>

            {% block body %}
            {% endblock %} 

        </div>
    </div>


    
</body>
</html>