{% extends 'base.html' %}
{% load static %}

{% block suggest-to-log %}
{% if auth %}
        {% else %}
        {% include 'templates/suggest-to-log.html' %}
        {% endif %}
{% endblock suggest-to-log %}


{% block logout %}
        {% if auth %}
        {% include 'templates/logout.html' %}
        {% else %}
        {% endif %}
{% endblock logout %} 


{% block h3-title %}
{{h3}}
{% endblock h3-title %} 


{% block body %}
<div class="container">
        
        <p>Answer someone's survey or Login to create your own surveys!</p>

        <!-- <img src="{% static 'survey_app/images/example.jpg' %}" class="img-fluid"> -->
        Example of pages for registered users:
        <img src="{% static 'images/example.jpg' %}" class="img-fluid border border-secondary">
        
        

        
        
</div>
{% endblock %}