{% extends 'templates/base.html' %}

{% block suggest-to-log %}
    {% include 'templates/suggest-to-log.html' %}
{% endblock suggest-to-log %}

{% block logout %}
{% endblock logout %}    

{% block body %}

<div class="container">
    <form action="{% url 'users:login_user' %}" method="post">
        {% csrf_token %}
        <h3>login</h3>
        <!-- {{form.as_p}} -->
        <table>
            <tr>
                <td>username</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>password</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button type="submit" name="submit" id="submit"> submit </button>
        <br>
        <div class="error1">
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
            
            {{ form.username.help_text }}
            {{ form.password.help_text }}
            
        </div>
    </form>
</div>

{% endblock %}

    
