{% extends 'base.html' %}

{% block title %}
<title>{{title}}</title> 
{% endblock title %} 

{% block h3-title %}
{{h3}}
{% endblock h3-title %} 

{% block body %}

<div class="container">
    
        {% if not object_list %}
        <p> Empty </p>
        
        {% else %}

        <form method="post">
                {% csrf_token %}
                <table class="table">
                        <tr>
                        <th></th>
                        <th>surveys</th>
                        
                        <th>to delete</th>
                        <th>results</th>
                        </tr>
                        {% for item in object_list %}
                        <tr>
                                <td><a href="{% url 'survey_app:survey_detail' survey_id=item.id %}"> 👁 </a></td>
                                <td> {{item.title}}</td>
                                <td><input type="checkbox" name="{{item.id}}" id="{{item.id}}"></td>
                                <td><a href="{% url 'survey_app:results' survey_id=item.id %}"> ✅ </a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                                <td></td>
                                <td>
                                </td>        
                                
                                <td>
             <button type="submit" name="delete"> delete selected</button>
                                </td>
                        </tr>
                </table>
                <p></p>
                   </form>
        {% endif %}
        <p></p>
        <p><a href="{% url 'survey_app:add_survey' %}"> Add a survey </a></p>
</div>

{% endblock %}

