{% extends 'base.html' %}

{% block title %}
<title>{{title}}</title> 
{% endblock title %} 

{% block h3-title %}
{{h3}}
{% endblock h3-title %} 


{% block body %}

<div class="container">
        {% if not object_list %}
        <p> Empty </p>
        {% else %}

        <form method="post">
                {% csrf_token %}
                <table class="table">
                        <tr>
                        <th>surveys</th>
                        <th></th>
                        </tr>
                        {% for item in object_list %}
                        <tr>
                                <td> {{item.title}}</td>
                                <td><a href="{% url 'survey_app:answer' survey_id=item.id %}"> 👁 </a></td>
                                
                        </tr>
                        {% endfor %}
                </table>
                <p></p>
        </form>
        {% endif %}
</div>

{% endblock %}