{% extends 'base.html' %}

{% block suggest-to-log %}
{% if auth %}
        {% else %}
        {% include 'templates/suggest-to-log.html' %}
        {% endif %}
{% endblock suggest-to-log %}


{% block logout %}
        {% if auth %}
        {% include 'templates/logout.html' %}
        {% else %}
        {% endif %}
{% endblock logout %} 


{% block h3-title %}
{{h3}}
{% endblock h3-title %} 


{% block body %}
<div class="container">
        
        <p>Log in to continue! See you!</p>

        <img src="media/example.jpg">
        <img src="example.jpg">
        <img src="images/example.jpg">
        <img src='survey_app/images/example.jpg'>
        <img src='static/survey_app/images/example.jpg'>
        <img src='static/images/example.jpg'>
        <img src='static/example.jpg'>
        <img src='survey_app/example.jpg'>
        
        
</div>
{% endblock %}